.table-responsive {
    margin-top: 20px;
}

@media (max-width: 576px) {
    .table thead {
        display: none;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        width: 50%;
        padding-right: 10px;
        text-align: left;
        font-weight: bold;
    }
}

.input_box {
    margin-bottom: 15px;
}

.btn {
    width: 100%;
}

@media (min-width: 576px) {
    .btn {
        width: auto;
    }
}

.card_cadas {
    background-color: rgba(255, 255, 255, 0.918);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
